* { font-family: 'Funnel Display', sans-serif; }

html, body {
    background-color: #eadfa9;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

#top {
    background-color: #6b8aaa;
    width: 100%;
    height: 10vh;
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#top a {
    color: inherit;
    text-decoration: none;
}

#top #add {
    position: absolute;
    width: 15%;
    height: 60%;
    right: 2vw;
    background-color: #eaeaea;
    border: none;
    border-radius: 6px;
    font-size: 1.6vh;
    padding: 0.9vh;
    cursor: pointer;
    transition: background 0.2s;
}

#top #add:hover {
    background-color: #a1a1a1;
}

#top #create {
    position: absolute;
    width: 15%;
    height: 60%;
    left: 2vw;
    background-color: #eaeaea;
    border: none;
    border-radius: 6px;
    font-size: 1.6vh;
    padding: 0.9vh;
    cursor: pointer;
    transition: background 0.2s;
}

#top #create:hover {
    background-color: #a1a1a1;
}

#restrictions {
    position: fixed;
    width: 15%;
    height: calc(10vh * 0.6);
    right: 20px;
    bottom: 20px;
    background-color: #eaeaea;
    border: none;
    border-radius: 6px;
    font-size: 1.6vh;
    padding: 0.9vh;
    cursor: pointer;
    transition: background 0.2s;
}

#restrictions:hover {
    background-color: #a1a1a1;
}

#courseContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 10px;
    width: 90vw;
    padding: 30px;
    margin: 0 auto;
}

.course {
    position: relative;
    background-color: #adb2b6;
    font-size: 30px;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.replace {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100px;
    border: none;
    background-color: #5984c1;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: background 0.2s;
}

.remove {
    position: absolute;
    top: 0;
    right: 100px;
    height: 100%;
    width: 100px;
    border: none;
    background-color: #c15959;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.2s;
}

.replace:hover {
    background-color: #2e4567;
}

.remove:hover {
    background-color: #672e2e;
}

#gradeContainer {
    width: 90%;
    justify-self: center;
    padding: 20px;
}

.gradeHeader {
    width: 100%;
    text-align: left;
    padding: 15px 20px;
    font-size: 20px;
    background-color: #adb2b6;
    border: none;
    cursor: pointer;
}

.gradeContent {
    height: 0;
    overflow: hidden;
    background-color: #c8c29d;
    transition: height 0.3s ease;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin: 0 auto;
}

.gradeButton {
    background-color: #eaeaea;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    padding: 15px;
    cursor: pointer;
    transition: background 0.2s;
}

.gradeButton:hover {
    background-color: #a1a1a1;
}

#selectionContainer {
    position: relative;
    width: 50vw;
    margin: 30px;
    justify-self: center;
    background-color: #adb2b6;
    border-radius: 20px;
    overflow: hidden;
}

.selection {
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.active {
    display: block;
}

.selectedCourse {
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

#left {
    position: absolute;
    top: calc(10vh + 150px);
    left: 2vw;
    width: calc(50vw / 2 - 10vw);
    height: calc(50vw / 2 - 10vw);
    font-size: calc(50vw / 2 - 14vw);
    background-color: #5984c1;
    border-radius: 15px;
    border: none;
    transition: background 0.2s;
}

#left:hover {
    background-color: #2e4567;
}

#right {
    position: absolute;
    top: calc(10vh + 150px);
    right: 2vw;
    width: calc(50vw / 2 - 10vw);
    height: calc(50vw / 2 - 10vw);
    font-size: calc(50vw / 2 - 14vw);
    background-color: #c15959;
    border-radius: 15px;
    border: none;
    transition: background 0.2s;
}

#right:hover {
    background-color: #672e2e;
}

#print {
    display: block;
    position: relative;
    margin: 0 auto;
    height: 50px;
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
    border: none;
    transition: background 0.2s;
}

#print:hover {
    background-color: #a1a1a1;
}

#restrictionsContainer {
    position: relative;
    width: 90vw;
    margin: 30px;
    justify-self: center;
    overflow: hidden;
}

.restrictionsCourse {
    background-color: #a1a1a1;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.restrictionsCourse span {
    flex: 1;
    font-size: 20px;
    text-align: left;
}

.restrictionsButtons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.restrictionsButtons button {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #e47878;
    cursor: pointer;
    transition: background 0.2s;
}

.restrictionsButtons button.none {
    background-color: #a1a1a1;
    color: #a1a1a1;
    cursor: default;
}

.restrictionsButtons button.active {
    background-color: #a3e478;
}

.restrictionsButtons button:hover {
    background-color: #784040;
}

.restrictionsButtons button.none:hover {
    background-color: #a1a1a1;
    color: #a1a1a1;
}

.restrictionsButtons button.active:hover {
    background-color: #577840;
}
